* {
  font-family: Comic Sans MS;
}

body { 
  background-image: url("../slike/Italija.jpg");
  background-size: cover;
  background-attachment: fixed;
  -webkit-animation: fadein 2s;
}

.menu {
  margin-left: 6%;
}


ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
  z-index: 10;
}
 
ul li {  
  float: left;
  width: 250px;
  height: 40px;
  background-color: black;
  line-height: 40px;
  text-align: center;
  color: #f2f2f2;
  font-size: 16px;
  border: solid;
  border-style: 1px;
}

.kurs {
  float: left;
  width: 300px;
  height: 40px;
  background-color: black;
  line-height: 40px;
  text-align: center;
  color: #f2f2f2;
  font-size: 16px;
}

.vel {
  float: left;
  width: 160px;
  height: 40px;
  background-color: black;
  line-height: 40px;
  text-align: center;
  color: #f2f2f2;
  font-size: 16px;
}

.jez {
  float: left;
  width: 45px;
  height: 40px;
  background-color: black;
  line-height: 40px;
  text-align: center;
  color: #f2f2f2; 
  font-size: 16px;
}

ul li a {
  text-decoration: none;
  color: white;
  display: block;
}

ul li a:hover{
  background-color: green;
}

ul li ul li {
  display: none;
  text-align: left;
  width: 300px;
  height: 40px;
  background-color: black;
  opacity: .8;
  line-height: 40px;
  text-align: center;
  color: #f2f2f2;
  font-size: 16px;
  border-style: solid;
}

ul li:hover ul li {
  display: block;
}

.naslov {
  float: left;
  background-color: rgb(255, 255, 255, 0.7);
  -webkit-animation: fadein 4s;
  width: 100%;
}

.naslov h1 {
  font-family: Comic Sans MS;
  font-style: oblique;
  font-size: 70px;
  text-align: center;
  color:blue;
  padding: 20px;
  -webkit-animation: fadein 3s;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .row {
  padding-top: 102px;
}

.leva fieldset {
  border-color: white;
  margin-bottom: 25px;
}

.leva fieldset p {
  text-align: center;
  font-size:18px;
  margin-bottom: 20px; 
  padding-bottom: 10px;
}

#firstleft {
  float: left;
  width: 50%;
  height: 230px;
  background-color: white;
  border-color:black;
  -webkit-animation:fadein 4s;
  -webkit-transition: width 2s; 
  transition: width 2s;
}

#firstleft:hover {
  -webkit-transition: width 2s; 
  transition: width 2s;
  width: 60%;
}

#secondleft {
  float: left;
  width: 50%;
  height: 220px;
  background-color: black;
  color:white;
  border-color:white;
  -webkit-animation:fadein 8s;
  -webkit-transition: width 2s;
  transition: width 2s;
}

#secondleft:hover{
  -webkit-transition: width 2s; 
  transition: width 2s;
  width: 58%;
}

#firstright {
  float: right;
  width: 50%;
  height: 100%;
  background-color: red;
  color:white;
  -webkit-animation:fadein 6s;
  -webkit-transition: width 2s;
  transition: width 2s;
}

#firstright:hover{
  -webkit-transition: width 2s;
  transition: width 2s;
  width: 60%;
}

#secondright {
  float: right;
  width: 50%;
  height: 100%;
  background-color: green;
  color:white;
  -webkit-animation:fadein 10s;
  -webkit-transition: width 2s;
  transition: width 2s;
}

#secondright:hover{
  -webkit-transition: width 2s;
  transition: width 2s;
  width: 53%;
}

#secondleft mark {
  background-color: red;
  color: white;
}

#thirdleft mark {
  background-color: red;
  color: white;
}

#thirdleft {
  float: left;
  width: 50%;
  height: 240px;
  background-color: blue;
  color:white;
  border-color:white;
  -webkit-animation:fadein 8s;
  -webkit-transition: width 2s;
  transition: width 2s;
}

#thirdleft p{
  text-align: justify;
}
#thirdleft:hover{
  -webkit-transition: width 2s; 
  transition: width 2s;
  width: 58%;
}

.tekstgore{
  text-align: center;
  font-family: Tahoma;
  font-size: 30px;
  width: 100%;
  height: 150px;
  color:white;
  animation-name: boje;
  animation-duration: 5s;
  animation-delay: -1s;
  animation-iteration-count: infinite;
  text-shadow: 2px 2px white;
}

@keyframes boje {
  0% {color: white;
      text-shadow: 2px 2px black;}
  25% {color: #d85454;
  text-shadow: 2px 2px yellow;}
  50% {color: yellow;
    text-shadow: 2px 2px red;}
  75% {color: #4bed89;}
  100% {color: white;
  text-shadow: 2px 2px black;}

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@keyframes slideshow {
  10% {left: 0;}
  20% {left: 0;}
  30% {left: -100%;}
  40% {left: -100%;}
  50% {left: -200%;}
  60% {left: -200%;}
  70% {left: -300%;}
  80% {left: -300%;}
  90% {left: -400%;}
  100% {left: -400%}
}

#slider img {
  width: 50%;
  height: 300px;
  float: left;
}

#slider{
  overflow:hidden;
  width:50%;
  height:300px;
  margin:5px auto; 
  border: 5px solid transparent;
  border-radius: 10px;
  left: 50%;
}

#slider figure img{
  width:20%;
  float:left;
}

#slider figure{position:relative;
  width:500%;
  margin:0;
  left:0;
  text-align:left;
  animation:15s slideshow infinite
}

.rooms img {
  float: right;
  position: relative;
  top: 0px;
  right: 14%;
  width: 20%;
  height: 220px;
  padding-top: 10px;
  z-index: -10;
}

.rooms1 img {
  float: left;
  position: relative;
  top: 0px;
  left: 14%;
  width: 20%;
  height: 200px;
  padding-top: 10px;
  z-index: -10;
}

.rooms2 img {
  float: right;
  position: relative;
  top: 0px;
  right: 8%;
  width: 30%;
  height: 200px;
  padding-top: 10px;
  z-index: -10;
  border-radius: 30px;
}

.rooms3 img {
  float: left;
  position: relative;
  top: 0px;
  left: 4%;
  width: 40%;
  height: 220px;
  padding-top: 10px;
  z-index: -10;
  border-radius: 50px;
}

.rooms4 img {
  float: right;
  position: relative;
  top: 20px;
  right: 8%;
  width: 30%;
  height: 200px;
  padding-top: 10px;
  z-index: -10;
  border-radius: 30px;
}

.footer {
    background-color: rgb(255, 255, 255, 0.7);
    text-align: center;
    border:solid;
    border-spacing: 1;
    border-color: black;
    margin-top: 15px;
}